<!-- header.py-3.mb-3.border-bottom  -->
<header class="py-3 mb-3 border-bottom"></header>
    <!-- div.container>div.d-flex.flex-wrap.align-items-center.justify-content-center -->
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <!-- ul.nav.col-12 li*4 -->
            <ul *ngIf="shouldIbeDisplayed()" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-d-0">
                <li *ngFor="let item of navigation">
                    <a [routerLink]="item.path">{{item.label}}</a>
                </li>
                <!-- <li><a routerLink="/">Dashboard</a></li>
                <li><a routerLink="/users">Users</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/orders">Orders</a></li>
                <li><a routerLink="/shipments">Shipments</a></li>
                <li><a routerLink="/payments">Payments</a></li>
                <li><a routerLink="/login">Login</a></li> -->
            </ul>
            <!-- <p>{{navigation | json}}</p> -->
            <!-- <pre>{{navigation | json}}</pre> -->
        </div>
    </div>
    <div  class="container">
        <router-outlet></router-outlet>
    </div>
<footer>
    <div class="container">
        <p>SimpliLearn AdminDashboard</p>
    </div>
</footer>